@mixin font_capton($size,$lineheight) {
    font: normal 400 #{$size} Georgia, sans-serif;
    line-height: #{$lineheight}; letter-spacing: .06em;
    color: #545454;        
}

.help, .help{
    position: absolute;
    display: flex; justify-content: center; align-items: center;
    margin: 0 0; padding: 0 0;
}
.help{
    //display: flex;
    //justify-content: center; align-items: center;
    height: 611px; top:2373px; right: 0%; left:0%;
    background: #ffffff; 
    .help_content{
        width: 1200px; height: 431px; top: 80px;
        left: calc(50% - 1200px/2);    
        border: 1px dotted #cccccc;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;    
        h3{          
            text-align: center;
            justify-content: center;            
        };        
        .list{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
        };
        ul{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;  
            gap:100px;              
        };
        li{
            list-style: none;
            display: inline-flex; flex-flow: column nowrap;
            justify-content:space-between; align-items: center;
            div{ 
                width: 100%; 
                height: calc(100%/2 + 10px);
            };
            .Pet_food{
                background: url(../icons/Vector.png) no-repeat;
                background-position: center top;                
            };
            .Transportation{
                background: url(../icons/transportation.png) no-repeat;
                background-position: center top;
            };
            .Toys{
                background: url(../icons/toys.png) no-repeat;
                background-position: center top;
            };
            .Bowls{
                background: url(../icons/bowls-and-cups.png) no-repeat;
                background-position: center top;
            };
            .Shampoos{
                background: url(../icons/shampoos.png) no-repeat;
                background-position: center top;
            }; 
            .Vitamins{
                background: url(../icons/vitamins.png) no-repeat;
                background-position: center top;
            };
            .Medicines{
                background: url(../icons/medicines.png) no-repeat;
                background-position: center top;
            };
            .Collars{
                background: url(../icons/collars-or-leashes.png) no-repeat;
                background-position: center top;
            };
            .Sleeping{
                background: url(../icons/sleeping-area.png) no-repeat;
                background-position: center top;
            };            
            h4{
                @include font_capton(15px,115%);
                padding: 0px 12px
            }
        };
        button{
            height: 113px; background: #ffffff;
            border: none;             
            cursor: pointer;            
        };
    };

}
